@import url("http://fonts.cdnfonts.com/css/gordita");

$nav-color: #313131;
$accent-color: #1E6CFD;
a {
    text-decoration: none;
}

.projectcontainer {


    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
     
    width: 80vw;
    height: 60vh;
    margin-bottom: 8em;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 6px 6px 10px #888888;
     border-radius: 10px;
     transition-duration: 1s;
    &:hover {
        box-shadow:  6px 6px 10px #1E6CFD;
    }
}




.projectdetails { 
    flex: 1;
    position: relative;
    display: flex;   
    justify-content: center;
    flex-direction: column;
    padding: 2em;
    margin: 4em;
    //padding: 10px;
    // border: 1px solid red;
    height: 45vh;
    .projectname {
        font-family: "Gordita", sans-serif;
        font-weight: 700;
        font-size: 3em;
    }

    .projectdescription {
        font-size: 1.75em;
    }

}

.projecticon {
  font-size: 0.3em;
  height: 5em;
  text-decoration: none;
position: absolute;
right: 10px;
bottom: 0px;
}

    .projecttags {
        display: flex; 
        position: absolute;
        bottom: 0px; 
        left: 0px;
        margin: 10px; 
    }

    .projectlink {
        display: flex; 
        position: absolute;
        bottom: 0px; 
        right: 0px;
        margin: 20px; 
    }

.projectimage{
    margin: 3em;
    max-height: 100%;
    width: 24vw;
    height: 24vw;
    object-fit: cover;
    object-position: center center;
}

@media screen and (max-width: 768px){
    .projectimage {
        display: None;
    }
    .projectname {
        font-family: "Gordita", sans-serif;
        font-weight: 700;
        font-size: 1.5em;
        }

        
    .projectdescription {
        font-size: 1.5em;
    }
}
