@import url("http://fonts.cdnfonts.com/css/gordita");

$nav-color: #313131;
$accent-color: #1E6CFD;


.projectcontainer {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 6px 6px 10px #888888;
     border-radius: 10px;
}

.projectdetails { 
    flex: 1;
 position: relative;
    display: flex;   
    justify-content: center;
    flex-direction: column;
    padding: 4em;
    box-sizing: border-box;
    margin: 4em;
    //padding: 10px;
    border: 1px solid red;
    height: 45vh;
    .projectname {
    font-family: "Gordita", sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    }

    .projectdescription {
        font-size: 1.5em;
    }

}

.projecticon {
  font-size: 0.3em;
  height: 3em;
  color: $accent-color;
  padding-left: 1.3em;
  padding-right: 2.3em;
  text-decoration: none;
  animation-name: fadeUp;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

    .projecttags {
       display: flex; 
       position: absolute;
    bottom: 0px; 
    left: 0px;
    margin: 10px; 
    }
.projectimage{
    margin: 3em;
    width: 60vh;
    border: 1px solid red;
}